################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/run_D/net8.0-windows
/solution/.vs/PGSP
/tmp
